<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cultureshock.buskingbook"
    android:versionCode="1"
    android:versionName="1.0" >
	<permission android:name="com.cultureshock.buskingbook.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.cultureshock.buskingbook.permission.C2D_MESSAGE" />
	<!-- GCM 받기 -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="com.google.android.c2dm.permission.SEND" />
	<!-- GCM을 받으려면 구글 계정 필요 -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<!-- 메시지 받을 때 wake up 하기 위해 -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- 네트워크 접속 권한 -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

   <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        <!-- GCM 리시버 -->
		
        <activity
            android:name="com.cultureshock.buskingbook.FirstStartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver
			android:name="com.google.android.gcm.GCMBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.cultureshock.buskingbook" /> <!-- 젤리빈 부터는 category 빼도 된다 -->
			</intent-filter>
		</receiver>

		<!-- GCM 리시버에서 돌리는 서비스 -->
		<service android:name=".GCMIntentService" /><!-- 서비스명 변경하면 안됨 -->
		
        <activity
            android:name="com.cultureshock.buskingbook.main.LoginJoinActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cultureshock.buskingbook.main.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.View" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cultureshock.buskingbook.main.JoinActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.View" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cultureshock.buskingbook.main.LoginActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.View" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.cultureshock.buskingbook.main.GCMPopupActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.View" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        
        <activity android:name="com.facebook.LoginActivity" android:label="@string/app_name"></activity>
    	<!-- gcm -->
    	<!-- GCM리시버 , 서비스 등록 -->
        
    </application>

</manifest>
